{
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["server/**/*.js", "*.js"],
      "excludedFiles": "client/**/*.js",
      "extends": ["plugin:node/recommended"]
    }
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": "off"
  }
}
